.text {
  margin-left: 10px;
  background-color: lightgray;
  padding: 15px;
  border-radius: 20px;
}

.message {
  display: flex;
  align-items: center;
  padding: 20px;
}

.timestamp {
  text-align: center;
  padding: 20px;
  color: gray;
}

.textUser {
  margin-left: auto;
  background-color: #29b3cd;
  padding: 15px;
  border-radius: 20px;
  color: white;
}

.input {
  display: flex;
  padding: 5px;
  position: fixed;
  bottom: 30px;
  width: 100%;
  border-top: 1px solid lightgray;
}

.field {
}

.button {
}
